@import url("observablehq:default.css");
@import url("observablehq:theme-air.css");

details-group {
  display: grid;
  gap: 12px;
  max-inline-size: max-content;

  & details {
    background: Canvas;
    border: 2px solid tomato;
    border-radius: 8px;;
  }
}

details {
  --_duration: .2s;
  inline-size: 50ch;
  
  @media (prefers-reduced-motion: no-preference) {
    interpolate-size: allow-keywords;
  }
  
  &::details-content {
    opacity: 0;
    block-size: 0;
    overflow-y: clip; 
    transition: content-visibility var(--_duration) allow-discrete,
                opacity var(--_duration),
                block-size var(--_duration);
  }
  
  &[open]::details-content {
    opacity: 1;
    block-size: auto;
  }

  & summary {
    --padding: 12px;

    position: relative;
    padding: var(--padding);
    padding-inline-start: calc(.5rem + var(--padding));
    font-weight: bold;
    background-color: hsl(from tomato h s l / .1);
    anchor-name: --summary;

    &::marker {
      content: "";
    }

    details[open] & {
      border-bottom: 2px solid tomato;

      &::after {
        transform: rotate(0deg);
      }
    }

    &::before,
    &::after {
      /* Custom marker dimensions */
      content: "";
      border-block-start: 3px solid orangered;
      height: 0;
      width: 1rem;
      
      /* Positions the lines */
      inset-block-start: 50%;
      inset-inline-end: calc(12px + .5rem);
      
      /* Anchor the shape to the summary */
      position: absolute;
      position-anchor: --summary;
      position-area: top end;
    }

    &::after {
      transform: rotate(90deg);
      transform-origin: 50%;
      transition: transform 100ms linear;
    }
  }

  & P {
    --padding: 12px;

    padding: var(--padding);
    padding-inline: calc(.5rem + var(--padding));
    margin-block: 0;
  }
}